name: Security Pipeline

on:
  pull_request:
  push:
    branches: [ "master" ]

jobs:
  security:
    uses: a-henrique/devsecops-lab/.github/workflows/security-scan.yml@main
    secrets: inherit







